.first-grid {
    display: grid;
    gap: 20px;  
    padding: 20px;
    grid-template-rows: 200px;
    grid-template-columns: repeat(3, 2fr);
}

.bags, .shoes, .watch {
    display: flex;
    flex-direction: column-reverse;
}


.bags:hover, .shoes:hover, .watch:hover, .card:hover, .secondnav>li:hover {
    text-decoration:underline;
} 

.bags {
    background-image: url(../img/bags.jpg);  
    background-size: cover;
}

.shoes {
    background-image: url(../img/boots.jpg);
    background-size: cover;
    
}
.watch {
    background-image: url(../img/watch.jpg);
    background-size: cover;
}

.second-grid {
    display: grid;
    gap: 10px;  
    padding: 10px;
    grid-template-columns: repeat(4, 25%)
    
}

.card {
    border: none;
}

.btn {
    position: relative;
    margin-left: 25%;
}

.secondfooter {
    display: grid;
    gap: 15px;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
}